.side a[href="http://goo.gl/1tI3BN"]{
	display:table-cell;
	height:142px;
	width:150px;
	background:url("//b.thumbs.redditmedia.com/4aWKhaVFU-ywGP46y7GTEbAD7AETJ1DOMRX4drjAiuk.png") no-repeat;
	background-position:0px 0px;
	background-size:140px
}

.side a[href="http://goo.gl/1tI3BN"]:hover{
	display:table-cell;
	height:142px;
	width:150px;
	opacity:.8;
	background:url("//b.thumbs.redditmedia.com/4aWKhaVFU-ywGP46y7GTEbAD7AETJ1DOMRX4drjAiuk.png") no-repeat;
	background-position:0px 0px;
	background-size:140px
}

.side a[href="http://goo.gl/OnLb8T"]{
	display:table-cell;
	height:142px;
	width:150px;
	background:url("//a.thumbs.redditmedia.com/zzWtR2WIZY0_auhnTk0aJ4l9W_Fb0FfwjM1lE4C7LQ0.jpg") no-repeat;
	background-position:0px 0px;
	background-size:140px
}

.side a[href="http://goo.gl/OnLb8T"]:hover{
	display:table-cell;
	height:142px;
	width:150px;
	opacity:.8;
	background:url("//a.thumbs.redditmedia.com/zzWtR2WIZY0_auhnTk0aJ4l9W_Fb0FfwjM1lE4C7LQ0.jpg") no-repeat;
	background-position:0px 0px;
	background-size:140px
}

.side a[href="http://goo.gl/hUZO3D"]{
	display:table-cell;
	height:142px;
	width:150px;
	background:url("//a.thumbs.redditmedia.com/-gWKg7eo-H4w4vbJlBYR7I_AoagggB0arccOwrERPL0.png") no-repeat;
	background-position:0px 0px;
	background-size:140px
}

.side a[href="http://goo.gl/hUZO3D"]:hover{
	display:table-cell;
	height:142px;
	width:150px;
	opacity:.8;
	background:url("//a.thumbs.redditmedia.com/-gWKg7eo-H4w4vbJlBYR7I_AoagggB0arccOwrERPL0.png") no-repeat;
	background-position:0px 0px;
	background-size:140px
}

.side a[href="http://goo.gl/muUi7k"]{
	display:table-cell;
	height:142px;
	width:150px;
	background:url("//b.thumbs.redditmedia.com/MGl1EBJb_LgSjLALyS87dXHiRTANlhoVPjuvRn-nh1M.png") no-repeat;
	background-position:0px 0px;
	background-size:140px
}

.side a[href="http://goo.gl/muUi7k"]:hover{
	display:table-cell;
	height:142px;
	width:150px;
	opacity:.8;
	background:url("//b.thumbs.redditmedia.com/MGl1EBJb_LgSjLALyS87dXHiRTANlhoVPjuvRn-nh1M.png") no-repeat;
	background-position:0px 0px;
	background-size:140px
}
